<h1>Robot World is the best place you've ever been in your entire life!</h1>
<h2>Dashboard</h2>

<p>
  Average Robot Age: <%= robot_manager.average_age %>
</p>

<p>
  Robots hired per year:
</p>

<p>
  Breakdown by City/State/Department:
</p>
