<h1>Robot World is the best place you've ever been in your entire life!</h1>
<h2>Dashboard</h2>

<ul>
  <li>Average Robot Age: <b><%= robot_manager.average_age %></b></li>
  <li>Robots hired per year:</li>
    <ul>
      <% robot_manager.hired_per_year.each do |k, v| %>
        <li><b><%= k  %></b>: <%= v %></li>
      <% end %>
    </ul>
  <li>Breakdown by City/State/Department:</li>
</ul>
