<form action="/robots" method="post">
  <h3>Let's create a new robot!</h3>
  <label>Robot Name:</label>
  <input type="text" class="form-control" placeholder="Name" name="robot[name]" /><br />

  <label>Robot City:</label>
  <input type="text" class="form-control" placeholder="City" name="robot[city]" /><br />

  <label>Robot State:</label>
  <input type="text" class="form-control" placeholder="State" name="robot[state]" /><br />

  <label>Robot Avatar:</label>
  <input type="text" class="form-control" placeholder="Avatar Address" name="robot[avatar]" /><br />

  <label>Robot Birthdate:</label>
  <input type="date" class="form-control" placeholder="Birthdate" name="robot[birthdate]" /><br />

  <label>Robot Date Hired:</label>
  <input type="date" class="form-control" placeholder="Date Hired" name="robot[date_hired]" /><br />

  <label>Robot Department:</label>
  <input type="department" class="form-control" placeholder="Department" name="robot[department]" /><br />

  <input class="btn btn-primary" type="submit" />
</form>
