<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1  col-sm-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Let's create a new robot!</h2>
                <p class="lead">
                  <form action="/robots" method="post">
                    <label>Robot Name:</label>
                    <input class="form-control" type="text" placeholder="Name" name="robot[name]" /><br />

                    <label>Robot City:</label>
                    <input class="form-control" type="text" placeholder="City" name="robot[city]" /><br />

                    <label>Robot State:</label>
                    <input class="form-control" type="text" placeholder="State" name="robot[state]" /><br />

                    <label>Robot Avatar:</label>
                    <input class="form-control" type="text" placeholder="Avatar Address" name="robot[avatar]" /><br />

                    <label>Robot Birthdate:</label>
                    <input class="form-control" type="date" placeholder="Birthdate" name="robot[birthdate]" /><br />

                    <label>Robot Date Hired:</label>
                    <input class="form-control" type="date" placeholder="Date Hired" name="robot[date_hired]" /><br />

                    <label>Robot Department:</label>
                    <input class="form-control" type="department" placeholder="Department" name="robot[department]" /><br />

                    <input class="btn btn-default btn-lg network-name" type="submit" value="submit!" />
                  </form>
                </p>
            </div>
            <!-- <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/cyborg.jpg" alt="">
            </div> -->
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
